<div class="min-h-dvh py-9 px-4 bg-github-bg">
  <router-outlet />

  <div *ngIf="userProfile" class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <!-- user profile -->
    <app-profile *ngIf="userProfile" [userProfile]="userProfile" />

    <!-- following list -->
    <div class="mt-6 md:mt-0 md:col-span-2">

      <app-loading *ngIf="isLoadingFollowings" message="Carregando usuários seguidos..."></app-loading>

      <div *ngIf="isLoadingFollowings === false && followings.length === 0">
        <p class="text-center text-gray-500">Este perfil não possui usuários seguidos.</p>
      </div>

      <!-- search input -->
      <div *ngIf="followings.length > 0">
        <input [(ngModel)]="searchQuery" (input)="filterFollowings()"
          class="w-full text-gray-200 border-[0.011rem] border-gray-500 px-2 py-2 rounded-md focus:outline-none"
          type="search" placeholder="Pesquisar seguidos" />
      </div>

      <app-followings-list [followings]="followings" />
    </div>
  </div>

  <app-loading *ngIf="isLoadingProfile && !errorMessage" message="Carregando perfil..."></app-loading>

  <div *ngIf="errorMessage.length > 0" class="mx-auto">
    <p class="text-2xl text-center text-gray-500">{{errorMessage}}</p>
  </div>
</div>